:root {
  color-scheme: dark;
}
/* changes website background to dark */

header {
  background-image: url("images/hacker-nawpic-1.jpg");
}
header h1 {
  margin: 0;
  font-family: fantasy;
  font-size: 45px;
  color: #fff; 
  padding: 150px 0 20px 20px;
}
h1 {
  color:#fff;
}

footer {
  background-color: #fff;
  color: #fff;
  margin: 0 0 0 0;
  padding: 15px 0;
  font-size: 20px;
}
nav {
  border: 0px solid #fff;
  padding: 1px;
  margin: 20px 20px 0 0;
  width: 100%;
  float: right;
  color: white;
  text-align: right;
}
h2 {
  font-family:fantasy;
  margin: 10px;
  font-size: 20px;
  color:#fff;
}
h3 {
  font-family:fantasy;
  margin: 0px;
  padding:0;
}

p {
  letter-spacing:1px;
  font-family:sans-serif;
  font-size:15px;
  color:#fff;
}

ul {
  color: #fff;
  font-family: sans-serif;
}
ol {
  color: #fff;
  font-family: sans-serif
}
li {
  font-size: 15px;
  padding: 5px 10px;
}

.list-inside li {
  list-style-position: inside;
}

hr {
  width: 10px;
  height: 10px;
  border: none;
  background: #ff496c;
  color: #fff;
  margin-top: 80px;
  margin-bottom: 0px;
  transform: rotate(45deg);
}
a {
  font-family: sans-serif;
  font-size: 15px;
}

a:link { color:red; }
a:visited { color:#white; }
a:hover { color:lime }
a:active { color:orange }

main {
  padding-left: 20px;
}
